
input:focus,
select:focus,
textarea:focus,
button:focus {
  outline: none;
}

html {
  height: 100%;
}

/* Navbar */

*, *:after, *:before {
  box-sizing: border-box;
}

.nav {
  display: block;
}

.nav ul {
  padding: 0;
  list-style: none;
  font: 0px 'Raleway', Arial, Helvetica;
  text-align: center;
}

.nav li, .nav a {
  display: inline-block;
  font-size: 20px;
}

.nav a {
  color: #919191;
  text-decoration: none;
}

.drop-nav {
  background-color: #2e2728;
}

.drop-nav > li {
  position: relative;z-index:1;
}

.drop-nav > li > a {
  padding: 22.5px 40px;
  text-transform: uppercase;
}

.drop-nav > li > a:first-child:nth-last-child(2):before {
  content: "";
  position: absolute;
  border: 4px solid transparent;
  border-bottom: 0;
  border-top-color: currentColor;
  top: 50%;
  margin-top: -2px;
  right: 10px;
}


.drop-nav > li:hover > ul {
  opacity: 1;
  visibility: visible;
  margin: 0;
}

.drop-nav > li:hover > a {
  color: #BE5B70;
}

.drop-nav-child {
  min-width: 100%;
  position: absolute;
  top: 100%;
  left: 0;
  z-index: -10;
  opacity: 0;
  visibility: hidden;
  margin: 0px 0px 0px 0px;
  background-color: #2e2728;
  transition: margin .15s, opacity .15s;
}

.drop-nav-child > li {
  width: 100%;
  border-bottom: 1px solid #2e2728;
}

.drop-nav-child > li:first-child > a:after {
  content: '';
  position: absolute;
  height: 0;
  width: 0;
  left: 1em;
  top: -6px;
  border: 6px solid transparent;
  border-top: 0;
  border-bottom-color: inherit;
}

.drop-nav-child > li:last-child {
  border: 0;
}

.drop-nav-child a {
  padding: 10px;
  width: 100%;
  border-color: #2e2728;
}

.drop-nav-child a:hover {
  background-color: #2e2728;
  border-color: #2e2728;
  color: #BE5B70;
}

/* Search Box */

form {
  width:500px;
  text-transform: uppercase;
}

.search {
  padding: 0px 15px;
  background: #2e2728;
  border: 0px solid #2e2728;
  border-bottom: 4px solid #2e2728;
  text-transform: uppercase;
}

input {
  color: #BE5B70;
}

/* Unused Search Button */
/*
.button {
  position: relative;
  padding: 6px 15px;
  left: -8px;
  border:2px solid #2e2728;
  background-color: #2e2728;
  color: #919191;
  text-transform: uppercase;
}

.button:hover {
  color: #BE5B70;
}
*/

/* Footer */



section{
  height:50vh;
  width:80%;
  margin:0 auto; 
 
  
    background: linear-gradient(-145deg,#369896,#3D1542);
  text-align:center;
}
.success{
    margin:0 auto;
  width:80%;
  
}
.success--list-grad{
   height:40vh;
background-color:#D3E7E7;
  border-bottom:1px solid grey;  box-shadow: 10px -10px 50px #2D2816;

}
.success--list-grad h2{
  text-align:left;
}


.success--list-img{
   height:40vh;
  width:30%;
  background-color:#7F3D57;
  float:left;
  border-bottom:1px solid grey;
 background:url("../images/success.jpeg");
 background-size:cover;   
 
}
.arrow img{
  float:right;
  width:8%;
  height:10vh;
position: absolute;
top:20em;right:1em; 

}
.project-arrow img{
  float:right;
  width:8%;
  height:10vh;
position: absolute;
top:50em;right:10em; 

}
.project{
  margin:0 auto;  
  width:80%;
}

.project-hub{
  width:25%;
 float:left;
 height:40vh;
 background:rgba(88,32,26,0.7);
 margin:20px 50px 20px 50px;
  text-align:center;
  color:white; transition: background-color 0.5s ease;
  box-shadow: 10px 20px 5px #888888;
}
.project-hub:hover{
    background-color:#58201A;
}

.project-hub-image1{
    background:url("../images/project1.jpg");
     background-size:cover;     
    width:100%;
 float:left;
 height:33vh;
}
.project-hub-image2{
   background:url("../images/project2.jpg");
     background-size:cover;     
    width:100%;
 float:left;
 height:33vh;
}
.project-hub-image3{
    background:url("../images/project3.jpg");
     background-size:cover;     
    width:100%;
 float:left;
 height:33vh;
}