html{line-height:1.15;-ms-text-size-adjust:100%;-webkit-text-size-adjust:100%}body{margin:0}article,aside,footer,header,nav,section{display:block}h1{font-size:2em;margin:.67em 0}figcaption,figure,main{display:block}figure{margin:1em 40px}hr{box-sizing:content-box;height:0;overflow:visible}pre{font-family:monospace,monospace;font-size:1em}a{background-color:transparent;-webkit-text-decoration-skip:objects}abbr[title]{border-bottom:none;text-decoration:underline;text-decoration:underline dotted}b,strong{font-weight:inherit}b,strong{font-weight:bolder}code,kbd,samp{font-family:monospace,monospace;font-size:1em}dfn{font-style:italic}mark{background-color:#ff0;color:#000}small{font-size:80%}sub,sup{font-size:75%;line-height:0;position:relative;vertical-align:baseline}sub{bottom:-.25em}sup{top:-.5em}audio,video{display:inline-block}audio:not([controls]){display:none;height:0}img{border-style:none}svg:not(:root){overflow:hidden}button,input,optgroup,select,textarea{font-family:sans-serif;font-size:100%;line-height:1.15;margin:0}button,input{overflow:visible}button,select{text-transform:none}button,html [type="button"],[type="reset"],[type="submit"]{-webkit-appearance:button}button::-moz-focus-inner,[type="button"]::-moz-focus-inner,[type="reset"]::-moz-focus-inner,[type="submit"]::-moz-focus-inner{border-style:none;padding:0}button:-moz-focusring,[type="button"]:-moz-focusring,[type="reset"]:-moz-focusring,[type="submit"]:-moz-focusring{outline:1px dotted ButtonText}fieldset{padding:.35em .75em .625em}legend{box-sizing:border-box;color:inherit;display:table;max-width:100%;padding:0;white-space:normal}progress{display:inline-block;vertical-align:baseline}textarea{overflow:auto}[type="checkbox"],[type="radio"]{box-sizing:border-box;padding:0}[type="number"]::-webkit-inner-spin-button,[type="number"]::-webkit-outer-spin-button{height:auto}[type="search"]{-webkit-appearance:textfield;outline-offset:-2px}[type="search"]::-webkit-search-cancel-button,[type="search"]::-webkit-search-decoration{-webkit-appearance:none}::-webkit-file-upload-button{-webkit-appearance:button;font:inherit}details,menu{display:block}summary{display:list-item}canvas{display:inline-block}template{display:none}[hidden]{display:none}
/* Navbar Based On: https://github.com/catalinred/Animenu */

/* Generic Stuff */

input:focus,
select:focus,
textarea:focus,
button:focus {
  outline: none;
}

html {
  height: 100%;
}

/* Navbar */

*, *:after, *:before {
  box-sizing: border-box;
}

.nav {
  display: block;
}

.nav ul {
  padding: 0;
  list-style: none;
  font: 0px 'Raleway', Arial, Helvetica;
  text-align: center;
}

.nav li, .nav a {
  display: inline-block;
  font-size: 20px;
}

.nav a {
  color: #919191;
  text-decoration: none;
}

.drop-nav {
  background-color: #2e2728;
}

.drop-nav > li {
  position: relative;z-index:1;
}

.drop-nav > li > a {
  padding: 22.5px 40px;
  text-transform: uppercase;
}

.drop-nav > li > a:first-child:nth-last-child(2):before {
  content: "";
  position: absolute;
  border: 4px solid transparent;
  border-bottom: 0;
  border-top-color: currentColor;
  top: 50%;
  margin-top: -2px;
  right: 10px;
}


.drop-nav > li:hover > ul {
  opacity: 1;
  visibility: visible;
  margin: 0;
}

.drop-nav > li:hover > a {
  color: #BE5B70;
}

.drop-nav-child {
  min-width: 100%;
  position: absolute;
  top: 100%;
  left: 0;
  z-index: -10;
  opacity: 0;
  visibility: hidden;
  margin: 0px 0px 0px 0px;
  background-color: #2e2728;
  transition: margin .15s, opacity .15s;
}
.drop-nav-child > li {
  width: 100%;
  border-bottom: 1px solid #2e2728;
}

.drop-nav-child > li:first-child > a:after {
  content: '';
  position: absolute;
  height: 0;
  width: 0;
  left: 1em;
  top: -6px;
  border: 6px solid transparent;
  border-top: 0;
  border-bottom-color: inherit;
}

.drop-nav-child > li:last-child {
  border: 0;
}

.drop-nav-child a {
  padding: 10px;
  width: 100%;
  border-color: #2e2728;
}

.drop-nav-child a:hover {
  background-color: #2e2728;
  border-color: #2e2728;
  color: #BE5B70;
}

/* Search Box */

form {
  width:500px;
  text-transform: uppercase;
}

.search {
  padding: 0px 15px;
  background: #2e2728;
  border: 0px solid #2e2728;
  border-bottom: 4px solid #2e2728;
  text-transform: uppercase;
}

input {
  color: #BE5B70;
}

/* Unused Search Button */
/*
.button {
  position: relative;
  padding: 6px 15px;
  left: -8px;
  border:2px solid #2e2728;
  background-color: #2e2728;
  color: #919191;
  text-transform: uppercase;
}

.button:hover {
  color: #BE5B70;
}
*/

/* Footer */









section{
  height:60vh;
  width:80%;
  margin:0 auto; background-color:#183757;
  text-align:center;
  margin-bottom:5em;
}
section h1, h2{
color:white;padding-top:0.8em;
}

.quali--list-grad{
   height:30vh;
  width:80%;background-color:#7A93AD;float:left;border-bottom:1px solid grey;

}
.quali--list-grad h2{
  text-align:left;padding-left:0.2em;
}


.quali--list-grad p { 
    font-size:1.5em;
  text-align:left;
}
.arrow img{
  float:right;
  width:8%;
  height:30vh;
position: absolute;
top:15em;right:1em; 

}
.readmore{

padding-top:2.05em;padding-left:45em;
}
.image1{
   height:30vh;
  width:20%;float:right;border-bottom:2px solid black;
  background:url("../images/1.jpg") 50% no-repeat;
    background-size:cover; 
 
}
.image2{
   height:30vh;
  width:20%;float:right;border-bottom:1px solid grey;
  background:url("../images/2.jpg");
   background-size:cover;  
 
}
.career-map{
  height:90vh;width:80%;
float:left;
  background-color:#6A616C;
 clear:both;
}
.career-map h1{
  padding-left:0.2em;
}
.career-map img{
  height:auto;width:100%;
float:left;


}

.career-hub{
  height:30vh;width:20%;
   background-color:#F6E08C;float:left;border-bottom:1px solid grey; 
}

.career-hub h1, ul{
  margin:0 auto;
  text-align:center;
  list-style: none;
  font-size:2.25em;
}

.career-hub ul{
   font-size:2em;
  

}
.career
.clearfix::after {
    content: "";
    clear: both;
    display: table;
}

.prep{
 height:65vh;
border:2px black solid;
  margin:0 auto;
  width:90%;
   text-align:center;
  margin-top:5em;
  background: linear-gradient(0deg,white,#E8EFF4);
 box-shadow: 5px 5px 5px #888888;
}
.prep h1{
  padding-bottom: 1em;font-size:3em;
}

.circle1{
  
  background: radial-gradient(circle at center,white,#3F685B);
    width:30em;
    height:30em;
    border-radius: 50%;
    display:inline;
  float:left;
  margin-right:5em;
  margin-left:4em;
 box-shadow: 5px 5px 5px #888888;
}

.circle2{
  background: radial-gradient(circle at center,white,#2E1842);
     width:30em;
    height:30em;
    border-radius: 50%;
    display:inline;
  float:left;margin-right:5em;
   box-shadow: 5px 5px 5px #888888;

}

.circle3{
 background: radial-gradient(circle at center,white,#3F5668);
    width:30em;
    height:30em;
    border-radius: 50%;
    display:inline;
  float:left;
  box-shadow: 5px 5px 5px #888888;
}
.prep h3{
  padding-top:5.5em;
  color:black;
  font-size:2em;
}

