body {
    background-color: #E2E2E2;
}

.student img {
    width: 100%;
    max-width: 1000px;
    height: auto;
    max-height: 460px;
    display: block;
    margin: auto;
    z-index: -99999;
}

.scholarship {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 150px;
    margin-left: 25vw;
    margin-right: 25vw;
}

.scholarship img {
    width: 100px;
    height: 150px;
}

.scholarship a {
    font-size: 21px;
}

.scholarship div {
    margin-left: 3vw;
    height: 50px;
}

.detail {
    display: flex;
    align-items: center;
    justify-content: space-between;
    height: 100px;
    width: 500px;
    flex-wrap: wrap;
    margin-top: 8vh;
    margin-bottom: 10vh;
    margin-left: 15vw;
    margin-right: 15vw;
}

.detail div {
    height: 50px;
    width: 240px;
}

#flexstart {
    justify-content: flex-start;
    font-size: 20px;
}

#flexend {
    justify-content: flex-end;
    text-align: right;
    font-size: 20px;
}

h2 {
    color: #000;
    margin-left: 12vw;
    font-size: 24px;
}

h3 {
    color: #000;
    margin-left: 10vw;
    font-size: 28px;
}

p {
    color: #000;
    margin-left: 15vw;
    margin-right: 15vw;
    font-size: 22px;
    text-align: justify;
}