// variables
$base-font: 'Ubuntu', sans-serif;
$body-font: 'Droid Sans', sans-serif;
$primary-color:#333;
$secondary-color:white;


.feedback {
margin-top:-1.3%;
background-color : $primary-color;
width : 100vw;
}
.smileys {
display : flex;
justify-content: center;
font-family : $body-font;
font-size : 0.7vw;
}
.col-smilleys {
    padding : 10px;
    color : $secondary-color;
    i {
        cursor : pointer;
        }
    p {
        text-align : center;
        cursor : pointer;
        }
}
.title {
padding: 25px 10px 10px 10px;
text-align : center;
color : $secondary-color;
font-family : $body-font;
font-size : 1.2vw;
}
.comment {
padding : 10px 10px 10px 35px;
width : 25vw;
border-radius : 10px;
margin-left : 38%;
font-family : $base-font;
}
.comment:focus {
height : 7vh;
background-color : $secondary-color;
}
.post {
display : flex;
flex-direction : column;
justify-content : center;
align-items : center;
margin-top : 2%;
margin-left : 46.5%;
width : 150px;
padding : 10px 10px 10px 10px;
border-radius : 10px;
font-size : 1vw;
text-decoration : none;
background : $primary-color;
opacity : 0.699999988079071044921875;
border-color : $secondary-color;
border-style : ridge;
cursor : pointer;
color : $secondary-color;
font-family : $base-font;
}
.posted-feedback {
display : none;
background-color : $primary-color;
height : 30vh;
}
.posted-feedback table{
margin-left : 39%;
}
#feedback-message {
padding-top: 20px;
text-align : center;
color : $secondary-color;
font-size : 1.3vw;
font-family : $body-font;
}