// variables
$base-font: 'Ubuntu', sans-serif;
$body-font: 'Droid Sans', sans-serif;
$primary-color: black;
$secondary-color:white;

/*Image Slider - copyright to "http://idangero.us/swiper/get-started/#.WcHn5bKg9aR"*/
.index-swiper {
  .swiper-container {
    width: 100%;
    height: 500px;
  }
  .swiper-slide{
    img{
      width: 100%;
      height: 550px;
      cursor:pointer;
    }
  }
}
.index-label {
  position: absolute;
  z-index: 4;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background: gold;
  font-size: 60px;
  top: 50%;
  margin-left: 55%;
  width: 45%;
  height:30%;
  padding: 10px 10px 10px 10px;
    a{
      font-family: $body-font;
      color: $secondary-color;
      text-decoration: none;
      text-align: center;
      }
}