// variables
$base-font: 'Ubuntu', sans-serif;
$body-font: 'Droid Sans', sans-serif;
$primary-color: #333;
$secondary-color:white;


.modal {
margin-left:10vw;
margin-top: 3vh;
display : none;
position : fixed;
z-index : 2;
background-color : #333;
background-color : rgba(0, 0, 0, 0.9);
text-align : center;
}
.modal-content {
margin : auto;
display : block;
width : 80vw;
height : 50vh;
max-width : 100vw;
}
.modal-content, #caption {
animation-name : zoom;
animation-duration : 0.6s;
}
@keyframes zoom {
from {
transform : scale(0);
}
to {
transform : scale(1);
}
}
.close {
position:fixed;
margin-left:37%;
color : #f1f1f1;
font-size : 3vw;
font-weight : bold;
transition : 0.3s;
}
.close:hover, .close:focus {
color : #bbb;
text-decoration : none;
cursor : pointer;
}
.info-container {
background-color : $secondary-color;
width : 80vw;
height :8vh;
display : flex;
margin : auto;
font-family : $body-font;
font-size : 0.7vw;
}
.col {
width : 15%;
padding : 10px;
display : flex;
    p {
        padding-left : 10px;
        }
}
.info-icons {
width : 2.4vw;
height : 3.6vh;
}
.item-description {
background-color : $primary-color;
width : 80vw;
height : 35vh;
color : $secondary-color;
font-family : $body-font;
font-size : 1vw;
}
.ingredients-title {
font-size : 1vw;
}
.ingredients-items {
font-size : 1vw;
}