/*Image Slider - copyright to "http://idangero.us/swiper/get-started/#.WcHn5bKg9aR"*/
.todays-special-swiper {
    .swiper-container {
      width: 100vw;
      height: 70vh;
      }
    .swiper-slide img{
      width: 100vw;
      height: 70vh;
    }
}