/*Image Slider - copyright to "http://idangero.us/swiper/get-started/#.WcHn5bKg9aR"*/
.todays-special-swiper {
    .swiper-container {
      width: 100%;
      height: 500px;
      }
    .swiper-slide img{
      width: 100%;
      height: 500px;
    }
}