// variables
$base-font: 'Ubuntu', sans-serif;
$body-font: 'Droid Sans', sans-serif;
$primary-color: #333;
$secondary-color:white;


.view-menu {
display : flex;
flex-direction : column;
justify-content : center;
align-items : center;
margin-top: -3%;
margin-left:71%;
width : 12%;
border-radius : 10px;
font-size : 1vw;
text-decoration : none;
border-color : $secondary-color;
border-style : ridge;
font-weight : bold;
background : $primary-color;
opacity : 0.60000002384185791015625;
    a {
        padding : 10px 10px 10px 10px;
        text-decoration : none;
        color : $secondary-color;
        transition : background-color 0.3s;
        font-family : $base-font;
        }
}