html {
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover; }


/*Filtering section*/
.filtering-section {
  margin-left: 30%;
  display: flex;
  justify-content: center;
  flex-direction: column;
  font-size: 1vw;
  text-align: center; }

/*Search bar*/
#search-location {
  width: 35vw;
  background: url(https://static.tumblr.com/ftv85bp/MIXmud4tx/search-icon.png) no-repeat 9px center;
  padding: 10px 10px 10px 35px;
  border-radius: 10px;
  font-family: "Mallanna", sans-serif; }

.locations, .accommodation-type {
  width: 35vw; }

.period-of-stay {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-flex-flow: row wrap;
  flex-flow: row wrap;
  margin-left: 10%;
  padding: 25px 30px 10px 30px; }

.checkin, .checkout {
  width: 8vw;
  padding: 0.5em;
  border-radius: 0.5em;
  cursor: pointer;
  color: #a4a4a4;
  border-style: solid;
  border-width: 1px;
  font-family: "Mallanna", sans-serif;
  text-align: center; }

.checkout {
  margin-left: 8%; }

/*guests and price*/
.container {
  margin-left: 3%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-flex-flow: row wrap;
  flex-flow: row wrap; }

.col {
  margin: 30px;
  cursor: pointer;
  font-family: "Mallanna", sans-serif; }

.guests-number {
  width: 10vw; }

.price-range {
  width: 18vw; }

.accommo-type {
  font-family: "Mallanna", sans-serif;
  margin-left: -40%; }

.submitButton {
  margin-top: 4%;
  margin-left: -40%;
  width: 10%;
  padding: 10px 10px 10px 10px;
  -webkit-border-radius: 10px;
  -moz-border-radius: 10px;
  border-radius: 10px;
  background: #c74343;
  font-family: "Mallanna", sans-serif;
  color: white; }

/**********Responsive Design**********/
@media screen and (max-width: 640px) {
  /*Filtering section*/
  .filtering-section {
    margin-top: -2%;
    margin-left: 18%;
    font-size: 2vw; }

  /*Search bar*/
  #search-location {
    width: 5vw;
    margin-left: 0; }

  .period-of-stay {
    margin-left: -4%;
    padding: 20px 30px 0px 30px; }

  .checkin, .checkout {
    width: 15vw; }

  /*guests and price*/
  .container {
    margin-left: -7%; }

  .guests-number {
    width: 15vw; }

  .price-range {
    width: 22vw; }

  .submitButton {
    width: 15%; } }
/*Hotel list*/
.accommodation-list {
  margin-top: 3%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-flex-flow: row wrap;
  flex-flow: row wrap;
  justify-content: center; }

.accommodation-list-item {
  width: 25vw;
  height: 30vh;
  padding: 40px;
  border-radius: 3em; }

.accommodation-list-item:hover {
  cursor: pointer; }

.text-block {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-flex-flow: row wrap;
  flex-flow: row wrap;
  padding-left: 2.5vw;
  font-family: "Mallanna", sans-serif;
  color: #a4a4a4; }

.title {
  padding-right: 15vw; }

/**********Responsive Design**********/
@media screen and (max-width: 640px) {
  .accommodation-list {
    margin-top: 5%;
    flex-direction: column; }

  .accommodation-list-item {
    width: 50vw;
    margin-left: 8%; }

  .text-block {
    margin-left: 18%; } }
/* The Modal (background) */
.modal {
  display: none;
  text-align: center;
  margin-top: -100%;
  position: relative;
  z-index: 2; }

/* Modal Content (Image) */
.modal-content {
  margin: auto;
  display: flex;
  justify-content: center;
  width: 80vw;
  max-width: 100%; }

/*Item description section*/
.description {
  margin: auto;
  background-color: white;
  width: 80vw;
  color: #a4a4a4;
  font-family: "Mallanna", sans-serif;
  font-size: 1vw;
  max-width: 100%;
  border: 0.7px solid #a4a4a4; }

.accommodation-general, .accommodation-filtered {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-flex-flow: row wrap;
  flex-flow: row wrap; }

.accommodation-name {
  font-size: 1.3vw;
  text-align: left;
  font-weight: bold; }

.accommodation_type {
  text-align: left; }

.accommodation-general div {
  padding: 35.5px; }

.accommodation-filtered div {
  padding: 55px; }

/* Add Animation - Zoom in the Modal */
.modal-content, #caption {
  -webkit-animation-name: zoom;
  -webkit-animation-duration: 0.6s;
  animation-name: zoom;
  animation-duration: 0.6s; }

@keyframes zoom {
  from {
    transform: scale(0); }
  to {
    transform: scale(1); } }
/* The Close Button */
.close {
  display: none; }

/*Image Slider*/
.index-swiper .swiper-container {
  width: 80vw; }

.index-swiper .swiper-slide img {
  width: 80vw; }

/**********Responsive Design**********/
@media screen and (max-width: 640px) {
  .modal {
    display: flex;
    margin-top: -200%;
    height: 100vh; }

  .modal-content {
    height: 100vh; }

  .description {
    font-size: 3vw;
    height: 50vh; }

  .accommodation-name {
    font-size: 3vw; } }
/**********Welcome Page**********/
.welcome-background {
  background: url("../images/fern.png") no-repeat fixed center; }

.logo img {
  margin-top: 10%;
  margin-left: 35%;
  display: flex; }

.display-text p {
  font-family: "Mallanna", sans-serif;
  color: #a4a4a4;
  text-align: center;
  font-size: 3vw;
  margin: 0; }

.start-button {
  display: flex;
  justify-content: center;
  margin: auto;
  width: 40vw;
  padding: 10px 10px 10px 10px;
  -webkit-border-radius: 10px;
  -moz-border-radius: 10px;
  border-radius: 10px;
  font-size: 2vw;
  background: #c74343; }
  .start-button a {
    text-align: center;
    text-decoration: none;
    color: white;
    font-family: "Mallanna", sans-serif; }

/**********Responsive Design**********/
@media screen and (max-width: 640px) {
  .logo img {
    margin-top: 35%;
    margin-left: 20%; }

  .display-text {
    margin-top: 2%; }
    .display-text p {
      font-size: 6vw; }

  .start-button {
    width: 60vw;
    margin-top: 2%;
    font-size: 4vw; } }
/**********Home Page**********/
.logo-home img {
  margin: 0;
  margin-top: 10%;
  margin-left: 50%;
  transform: translate(-50%, -50%);
  width: 38vw; }

/**********Responsive Design**********/
@media screen and (max-width: 640px) {
  .logo-home img {
    margin-left: 40%; } }