@mixin flex-flow($flow){
  -webkit-flex-flow: $flow;
  flex-flow: $flow;
}

@mixin border-radius($radius){
-webkit-border-radius: $radius;
-moz-border-radius: $radius;
border-radius: $radius;
}

//variables
$primary-font: 'Mallanna', sans-serif;
$primary-font-color: #a4a4a4;
$secondary-color: #c74343;

/*Filtering section*/
.filtering-section{
  margin-left:30%;
  display: flex;
  justify-content: center;
  flex-direction: column;
  font-size: 1vw;
  text-align: center;
}
/*Search bar*/
#search-location{
  width: 35vw;
  background: url(https://static.tumblr.com/ftv85bp/MIXmud4tx/search-icon.png) no-repeat 9px center;
  padding: 10px 10px 10px 35px;
  border-radius: 10px;
  font-family: $primary-font;
}
.locations, .accommodation-type{
  width:35vw;
}
.period-of-stay{
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
@include flex-flow(row wrap);
  margin-left:10%;
  padding: 25px 30px 10px 30px;
}
.checkin, .checkout{
  width:8vw;
  padding: 0.5em;
  border-radius: 0.5em;
  cursor: pointer;
  color:$primary-font-color;
  border-style: solid;
  border-width: 1px;
  font-family: $primary-font;
  text-align: center;
}
.checkout{
  margin-left:8%;
}
/*guests and price*/
.container{
  margin-left: 3%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
@include flex-flow(row wrap);
}
.col {
  margin:30px;
  cursor: pointer;
  font-family: $primary-font;
}
.guests-number{
  width:10vw;
}
.price-range{
  width:18vw;
}
.accommo-type{
  font-family: $primary-font;
  margin-left: -40%;
}
.submitButton{
  margin-top:4%;
  margin-left:-40%;
  width: 10%;
  padding: 10px 10px 10px 10px;
@include border-radius(10px);
  background: $secondary-color;
  font-family: $primary-font;
  color: white;
}


/**********Responsive Design**********/
@media screen and (max-width: 640px) {

/*Filtering section*/
.filtering-section{
  margin-top:-2%;
  margin-left:18%;
  font-size: 2vw;
}
/*Search bar*/
#search-location{
  width: 5vw;
  margin-left: 0;
}
.period-of-stay{
  margin-left: -4%;
  padding: 20px 30px 0px 30px;
}
.checkin, .checkout{
  width:15vw;
}
/*guests and price*/
.container{
  margin-left: -7%;
}
.guests-number{
  width:15vw;
}
.price-range{
  width:22vw;
}
.submitButton{
  width:15%;
}
}