@mixin flex-flow($flow){
  -webkit-flex-flow: $flow;
  flex-flow: $flow;
}

//variables
$primary-font: 'Mallanna', sans-serif;
$primary-font-color: #a4a4a4;

/* The Modal (background) */
.modal {
  display: none;
  text-align: center;
  margin-top:-100%;
  position: relative;
  z-index: 2;
}
/* Modal Content (Image) */
.modal-content {
  margin: auto;
  display: flex;
  justify-content: center;
  width: 80vw;
  max-width: 100%;
  }
/*Item description section*/
.description {
  margin: auto;
  // display: block;
  background-color:white;
  width: 80vw;
  // height: 40vh;
  color: $primary-font-color;
  font-family: $primary-font;
  font-size: 1vw;
  max-width: 100%;
  border:0.7px solid #a4a4a4;
}
.accommodation-general, .accommodation-filtered{
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
@include flex-flow(row wrap);
}
.accommodation-name{
  font-size: 1.3vw;
  text-align: left;
  font-weight: bold;
}
.accommodation_type{
  // position:absolute;
  // margin-top:-2%;
  text-align: left;  
}
.accommodation-general div{
  padding: 35.5px;
}
.accommodation-filtered{
  // position: absolute;
  // margin-top: 80%;
  // margin-left:25%;
    div{
      padding: 55px;
      }
}
/* Add Animation - Zoom in the Modal */
.modal-content, #caption {
  -webkit-animation-name: zoom;
  -webkit-animation-duration: 0.6s;
  animation-name: zoom;
  animation-duration: 0.6s; 
}
@keyframes zoom {
  from {
    transform: scale(0); }

  to {
    transform: scale(1); } }
/* The Close Button */
.close {
  display: none;
  // color: $primary-font-color;
  // font-size: 4vw;
  // margin-top:50%;
  // margin-left:80%;
  // font-weight: bold;
  // transition: 0.3s; 
}
// .close:hover,
// .close:focus {
//   color: $primary-font-color;
//   text-decoration: none;
//   cursor: pointer; 
// }
/*Image Slider*/
.index-swiper .swiper-container {
  width: 80vw;
  // height: 55vh;
  }
.index-swiper .swiper-slide img {
  width: 80vw;
  // height: 55vh;
  }


  /**********Responsive Design**********/
@media screen and (max-width: 640px) {
.modal {
display:flex;
  margin-top:-200%;
  height: 100vh;
}
.modal-content {
  height: 100vh;
}
.description {
  font-size:3vw;
  height:50vh;
}
.accommodation-name{
  font-size: 3vw;
}
}