// variables
$base-font: 'Ubuntu', sans-serif;
$body-font: 'Droid Sans', sans-serif;
$primary-color: black;
$secondary-color:white;


//mixins
@mixin border-radius($radius){
  -webkit-border-radius: $radius;
  -moz-border-radius: $radius;
  border-radius: $radius;
}



/*Page tiltle*/
.beverages-page-title{
  position: absolute;
  top:6%;
  margin-left: 22%;
  color: $secondary-color;
  font-family: $body-font;
  font-size: 30px;
  z-index: 2;
}
/*3 menus*/
*{
  box-sizing:border-box;
}
.container-B{
  position: absolute;
  top:20%;
  left:7%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  flex-direction: row;
    img{
      width:350px;
      height:490px;
      @include border-radius(10px);
      cursor: pointer;
    }
    a{
      text-decoration: none;
    }
}
.col-B{
  padding: 20px;
}
.text-block-B-1{
  position:absolute;
  bottom:7%;
  left:1.7%;
  width:30%;
  height:7%;
  background-color: $primary-color;
  opacity: 0.6;
}
.text-block-B-2{
  position:absolute;
  bottom:7%;
  left:35%;
  width:30%;
  height:7%;
  background-color: $primary-color;
  opacity: 0.6;
}
.text-block-B-3{
  position:absolute;
  bottom:7%;
  left:68.4%;
  width:30%;
  height:7%;
  background-color: $primary-color;
  opacity: 0.6;
}
p.text-B{
  padding:5px;
  margin:0px;
  color: $secondary-color;
  font-family: $body-font;
  font-size: 25px;
  text-align: center;
}