// variables
$base-font: 'Ubuntu', sans-serif;
$body-font: 'Droid Sans', sans-serif;
$primary-color: #333;
$secondary-color:white;



* {
box-sizing : border-box;
}
.container-l {
display : flex;
flex-direction : row;
justify-content: center;
        img {
            width : 35vw;
            height : 40vh;
            border-radius : 10px;
            }
        a {
            text-decoration : none;
        }
}
.col-l{
padding: 20px;
}
.text-block1-l {
margin-top : -13%;
width : 100%;
height : 15%;
background-color : $primary-color;
opacity : 0.60000002384185791015625;
}
.text-block2-l {
margin-top : -13%;
width : 100%;
height : 15%;
background-color : $primary-color;
opacity : 0.60000002384185791015625;
}
p.text-l {
padding : 5px 3px 3px 3px;
color : $secondary-color;
font-family : $body-font;
font-size : 1.2vw;
text-align : center;
}
.specials {
// display : flex;
// flex-direction : column;
// justify-content : center;
// align-items : center;
margin-top : 10%;
margin-left : 10%;
width : 15%;
padding : 10px 10px 10px 10px;
border-radius : 10px;
font-size : 2.4vw;
text-decoration : none;
background : $primary-color;
opacity : 0.699999988079071044921875;
border-color : $secondary-color;
border-style : ridge;
border-top : none;
    a {
        text-decoration : none;
        color : $secondary-color;
        transition : background-color 0.3s;
        font-family : $base-font;
        }
}