// variables
$base-font: 'Ubuntu', sans-serif;
$body-font: 'Droid Sans', sans-serif;
$primary-color: #333;
$secondary-color:white;


/*Page tiltle-Starters*/
.starters-menu-page-title{
  text-align: center;
  color: $secondary-color;
  font-family: $body-font;
  font-size: 1.2vw;
}