// variables
$base-font: 'Ubuntu', sans-serif;
$body-font: 'Droid Sans', sans-serif;
$primary-color: #333;
$secondary-color:white;


//mixins
@mixin border-radius($radius){
  -webkit-border-radius: $radius;
  -moz-border-radius: $radius;
  border-radius: $radius;
}

.sidenav{
  position: absolute;
  margin-top:0;
  margin-left: -300px;
  width:15vw;
  height:100vh;
  max-height: 100vh;
  background:$primary-color;
  opacity: 0.9;
  border-color: $secondary-color;
  border-style: ridge;
  border-left: none;
  border-top:none;
  border-bottom:none;
  @include border-radius(10px);
  transition: .5s;
  z-index:3;
    a{
      text-decoration: none;
      color: $secondary-color;
    }
}
.sidenav--close-btn{
  position:absolute;
  margin-top: 10%;
  margin-left: 85%;
  font-size: 1.5vw;
}
.sidenav--menu{
  margin-top: 4vh;
  font-size: 1vw;
  line-height: 1.5em;
  font-family: $base-font;
  li{
      color: $primary-color;
      opacity:0.7;
    }
}
.sidenav--overlay{
  position:fixed;
  margin-top:0;
  margin-left:0;
  height:0;
  width:100%;
  background-color: rgba(0, 0, 0, 0.7);
}
.copyright{
  font-family: $base-font;
  text-decoration: none;
  color: $secondary-color;
  margin-left: 15%;
  font-size: 0.7vw;
    img{
      width: 1vw;
      height:1.5vh;
    }
}
.clientInfo{
  padding-top:200px;
  font-family: $base-font;
  text-decoration: none;
  color: $secondary-color;
  margin-left: 15%;
  font-size: 0.7vw;
}
.devInfo{
  font-family: $base-font;
  text-decoration: none;
  color: $secondary-color;
  margin-left: 15%;
  font-size: 0.7vw;
}