*{
  box-sizing: border-box;
  -webkit-box-sizing: border-box;
  -ms-box-sizing: border-box;
  -o-box-sizing: border-box;
  -moz-box-sizing: border-box;
  padding: 0;
  margin: 0;
}

body{
    background-color:#EF9A9A;
}

/* navigation section */
nav{
  position: fixed;
  top: 0px;
  left: 0px;
  margin: 0 auto;
  width: 100%;
  background: #00BFA5;
}
nav ul{
  list-style-type: none;
  text-align: center;
}
nav ul li{
  display: inline-block;
  text-align: center;
  padding: 20px;
  height: 2%;
  color: white;
}
nav ul li a{
  text-decoration: none;
  color: white;
  padding: 20px;
  font-size: 20px;
  font-family: 'Economica', sans-serif;
}
/* an underline appears at the bottom on hover of each link */
nav ul li a:hover, nav ul li a:active{
  border-bottom: 2px solid #ccc;
  padding-bottom: 8px;
}
/* end of navigation section*/

.heading h1,p{
  display: flex;
  justify-content: center;
  color: white;
}
.heading h1{
    margin-top: 17%;
    font-size: 4vw;
    font-family: 'Satisfy', cursive;
}
.heading p{
    font-size: 1vw;
    font-family: 'Economica', sans-serif;
}

.custom-select {
  position : relative;
  width: 100%;
  max-width:  25em;
  margin: 2em auto;
  cursor: pointer;
  font-family: 'Economica', sans-serif;
  font-size: 1.5vw;
}
.select, .label{
  display: block;
}
.select {
  width: 100%;
  position: absolute;
  top: 0;
  padding: 1em;
  height: 4em;
  opacity: 0;
  -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=0)";
  background: none transparent;
  border: 0 none;
}
.label {
  position:  relative;
  padding: 1em;
  border-radius: .5em;
  cursor: pointer;
}
.label::after {
  content: "▼";
  position: absolute;
  right: 0;
  top: 0;
  padding: 1em;
  border-left: 1px solid;
}
.open .label::after {
   content: "▲";
}
.select-1 {
   background: #f2bb18;
  border-bottom: .25em solid darken(#f2bb18, 10);
  color:black;
  &:after {
     border-color: darken(#f2bb18, 10);
  }
  
}
.select-2 {
  background: #db3d3d;
  border-bottom: .25em solid darken(#db3d3d, 10);
  &:after {
     border-color: darken(#db3d3d, 10);
  }
}
.treats-list{
  cursor: pointer;
}
.treats-list, .treat-details, .event-details{
  color: white;
  font-family: 'Economica', sans-serif;
}
.treats-list h3, p, .treat-details, .event-details{
  display: flex;
  justify-content: center;
}
.treats-list{
  font-size: 2vw;
}
.treat-details, .event-details{
  font-size: 1vw;
}
.clock{
  width: 180px;
  height: 180px;
  /*margin: 0 auto;*/
  position: absolute;
  top: 10%;
  left: 45%;
  border: 8px solid #fff;
  border-radius: 50%;
  box-shadow: 0 1px 8px rgba(34,34,34,0.3), inset 0 1px 8px rgba(34,34,34,0.3);
  background: url(../img/bg.png) 0 50%;
}
.clock-face{
  width: 100%;
  height: 100%;
}
.clock-face:after{
  position: absolute;
  top: 50%;
  left: 50%;
  width: 12px;
  height: 12px;
  margin: -6px 0 0 -6px;
  background: #fff;
  border-radius: 6px;
  content: "";
  display: block;
}
.hour-display{
  width: 0;
  height: 0;
  position: absolute;
  top: 50%;
  left: 50%;
  margin: -4px 0 -4px -25%;
  padding: 4px 0 4px 25%;
  background: #fff;
  transform-origin: 100% 50%;
  border-radius: 4px 0 0 4px;
}
.minute-display{
  width: 0;
  height: 0;
  position: absolute;
  top: 50%;
  left: 50%;
  margin: -40% -3px 0;
  padding: 40% 3px 0;
  background: #fff;
  transform-origin: 50% 100%;
  border-radius: 3px 3px 0 0;
}
.second-display{
  width: 0;
  height: 0;
  position: absolute;
  top: 50%;
  left: 50%;
  margin: -40% -1px 0 0;
  padding: 40% 1px 0;
  background: #fff;
  transform-origin: 50% 100%;
}